#main{
    display: flex;
    margin: 0vh;
    padding: 2vh;
    flex-direction: row;
    gap: 2vh;
    margin-top: 3vh;
}
#card{
    text-decoration: none;

}
#img{
    height: 5vh;
    width: 5vh;
    
}