<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gyaan</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="home.css">
</head>

<body>
    <div>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Gyaan</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Favourites</a>
                        </li>


                    </ul>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </div>
    <div id="main">
<div class="impQ">Text 1: Śrī Sūta Gosvāmī said: While returning home, the King [Mahārāja Parīkṣit] felt that the act he had committed against the faultless and powerful brāhmaṇa was heinous and uncivilized. Consequently he was distressed.</div>
<div class="impQ">Text 2: [King Parīkṣit thought:] Due to my neglecting the injunctions of the Supreme Lord I must certainly expect some difficulty to overcome me in the near future. I now desire without reservation that the calamity come now, for in this way I may be freed of the sinful action and not commit such an offense again.</div>
<div class="impQ">Text 3: I am uncivilized and sinful due to my neglect of brahminical culture, God consciousness and cow protection. Therefore I wish that my kingdom, strength and riches burn up immediately by the fire of the brāhmaṇa’s wrath so that in the future I may not be guided by such inauspicious attitudes.</div>
<div class="impQ">Text 4: While the King was thus repenting, he received news of his imminent death, which would be due to the bite of a snake-bird, occasioned by the curse spoken by the sage’s son. The King accepted this as good news, for it would be the cause of his indifference toward worldly things.</div>
<div class="impQ">Text 5: Mahārāja Parīkṣit sat down firmly on the banks of the Ganges to concentrate his mind in Kṛṣṇa consciousness, rejecting all other practices of self-realization, because transcendental loving service to Kṛṣṇa is the greatest achievement, superseding all other methods.</div>
<div class="impQ">Text 6: The river [by which the King sat to fast] carries the most auspicious water, which is mixed with the dust of the lotus feet of the Lord and tulasī leaves. Therefore that water sanctifies the three worlds inside and outside and even sanctifies Lord Śiva and other demigods. Consequently everyone who is destined to die must take shelter of this river.</div>
<div class="impQ">Text 7: Thus the King, the worthy descendant of the Pāṇḍavas, decided once and for all and sat on the Ganges’ bank to fast until death and give himself up to the lotus feet of Lord Kṛṣṇa, who alone is able to award liberation. So, freeing himself from all kinds of associations and attachments, he accepted the vows of a sage.</div>
<div class="impQ">Text 8: At that time all the great minds and thinkers, accompanied by their disciples, and sages who could verily sanctify a place of pilgrimage just by their presence, arrived there on the plea of making a pilgrim’s journey.</div>
<div class="impQ">Texts 9-10: From different parts of the universe there arrived great sages like Atri, Cyavana, Śaradvān, Ariṣṭanemi, Bhṛgu, Vasiṣṭha, Parāśara, Viśvāmitra, Aṅgirā, Paraśurāma, Utathya, Indrapramada, Idhmavāhu, Medhātithi, Devala, Ārṣṭiṣeṇa, Bhāradvāja, Gautama, Pippalāda, Maitreya, Aurva, Kavaṣa, Kumbhayoni, Dvaipāyana and the great personality Nārada.</div>
<div class="impQ">Text 11: There were also many other saintly demigods, kings and special royal orders called aruṇādayas [a special rank of rājarṣis] from different dynasties of sages. When they all assembled together to meet the Emperor [Parīkṣit], he received them properly and bowed his head to the ground.</div>
<div class="impQ">Text 12: After all the ṛṣis and others had seated themselves comfortably, the King, humbly standing before them with folded hands, told them of his decision to fast until death.</div>
<div class="impQ">Text 13: The fortunate King said: Indeed, we are the most grateful of all the kings who are trained to get favors from the great souls. Generally you [sages] consider royalty as refuse to be rejected and left in a distant place.</div>
<div class="impQ">Text 14: The Supreme Personality of Godhead, the controller of both the transcendental and mundane worlds, has graciously overtaken me in the form of a brāhmaṇa’s curse. Due to my being too much attached to family life, the Lord, in order to save me, has appeared before me in such a way that only out of fear I will detach myself from the world.</div>
<div class="impN">Text 18: Thus the King, Mahārāja Parīkṣit, sat to fast until death. All the demigods of the higher planets praised the King’s actions and in pleasure continually scattered flowers over the earth and beat celestial drums.</div>
<div class="impN">Text 19: All the great sages who were assembled there also praised the decision of Mahārāja Parīkṣit, and they expressed their approval by saying “Very good.” Naturally the sages are inclined to do good to common men, for they have all the qualitative powers of the Supreme Lord. Therefore they were very much pleased to see Mahārāja Parīkṣit, a devotee of the Lord, and they spoke as follows.</div>
<div class="impN">Text 20: [The sages said:] O chief of all the saintly kings of the Pāṇḍu dynasty who are strictly in the line of Lord Śrī Kṛṣṇa! It is not at all astonishing that you give up your throne, which is decorated with the helmets of many kings, to achieve eternal association with the Personality of Godhead.</div>
<div class="impN">Text 21: We shall all wait here until the foremost devotee of the Lord, Mahārāja Parīkṣit, returns to the supreme planet, which is completely free from all mundane contamination and all kinds of lamentation.</div>
<div class="impN">Text 22: All that was spoken by the great sages was very sweet to hear, full of meaning and appropriately presented as perfectly true. So after hearing them, Mahārāja Parīkṣit, desiring to hear of the activities of LText 15: O brāhmaṇas, just accept me as a completely surrendered soul, and let mother Ganges, the representative of the Lord, also accept me in that way, for I have already taken the lotus feet of the Lord into my heart. Let the snake-bird — or whatever magical thing the brāhmaṇa created — bite me at once. I only desire that you all continue singing the deeds of Lord Viṣṇu.</div>
<div class="impN">Text 16: Again, offering obeisances unto all you brāhmaṇas, I pray that if I should again take my birth in the material world I will have complete attachment to the unlimited Lord Kṛṣṇa, association with His devotees and friendly relations with all living beings.</div>
<div class="impN">Text 17: In perfect self-control, Mahārāja Parīkṣit sat down on a seat of straw, with straw-roots facing the east, placed on the southern bank of the Ganges, and he himself faced the north. Just previously he had given charge of his kingdom over to his son.</div>
<div class="impQ">Text 23: The King said: O great sages, you have all very kindly assembled here, having come from all parts of the universe. You are all as good as supreme knowledge personified, who resides in the planet above the three worlds [Satyaloka]. Consequently you are naturally inclined to do good to others, and but for this you have no interest, either in this life or in the next.</div>
<div class="impN">Text 24: O trustworthy brāhmaṇas, I now ask you about my immediate duty. Please, after proper deliberation, tell me of the unalloyed duty of everyone in all circumstances, and specifically of those who are just about to die.</div>
<div class="impN">Text 25: At that moment there appeared the powerful son of Vyāsadeva, who traveled over the earth disinterested and satisfied with himself. He did not manifest any symptoms of belonging to any social order or status of life. He was surrounded with women and children, and he dressed as if others had neglected him.</div>
<div class="impN">Text 26: This son of Vyāsadeva was only sixteen years old. His legs, hands, thighs, arms, shoulders, forehead and the other parts of his body were all delicately formed. His eyes were beautifully wide, and his nose and ears were highly raised. He had a very attractive face, and his neck was well formed and beautiful like a conchshell.</div>
<div class="impQ">Text 27: His collarbone was fleshy, his chest broad and thick, his navel deep and his abdomen beautifully striped. His arms were long, and curly hair was strewn over his beautiful face. He was naked, and the hue of his body reflected that of Lord Kṛṣṇa.</div>
<div class="impQ">Text 28: He was blackish and very beautiful due to his youth. Because of the glamor of his body and his attractive smiles, he was pleasing to women. Though he tried to cover his natural glories, the great sages present there were all expert in the art of physiognomy, and so they honored him by rising from their seats.</div>
<div class="impQ">Text 29: Mahārāja Parīkṣit, who is also known as Viṣṇurāta [one who is always protected by Viṣṇu], bowed his head to receive the chief guest, Śukadeva Gosvāmī. At that time all the ignorant women and boys ceased following Śrīla Śukadeva. Receiving respect from all, Śukadeva Gosvāmī took his exalted seat.</div>
<div class="impQ">Text 30: Śukadeva Gosvāmī was then surrounded by saintly sages and demigods just as the moon is surrounded by stars, planets and other heavenly bodies. His presence was gorgeous, and he was respected by all.</div>
<div class="impQ">Text 31: The sage Śrī Śukadeva Gosvāmī sat perfectly pacified, intelligent and ready to answer any question without hesitation. The great devotee, Mahārāja Parīkṣit, approached him, offered his respects by bowing before him, and politely inquired with sweet words and folded hands.</div>
<div class="impN">Text 32: The fortunate King Parīkṣit said: O brāhmaṇa, by your mercy only, you have sanctified us, making us like unto places of pilgrimage, all by your presence here as my guest. By your mercy, we, who are but unworthy royalty, become eligible to serve the devotee.</div>
<div class="impN">Text 33: Simply by our remembering you, our houses become instantly sanctified. And what to speak of seeing you, touching you, washing your holy feet and offering you a seat in our home?</div>
<div class="impN">Text 34: Just as the atheist cannot remain in the presence of the Personality of Godhead, so also the invulnerable sins of a man are immediately vanquished in your presence, O saint! O great mystic!</div>
<div class="impN">Text 35: Lord Kṛṣṇa, the Personality of Godhead, who is very dear to the sons of King Pāṇḍu, has accepted me as one of those relatives just to please His great cousins and brothers.</div>
<div class="impN">Text 36: Otherwise [without being inspired by Lord Kṛṣṇa] how is it that you have voluntarily appeared here, though you are moving incognito to the common man and are not visible to us who are on the verge of death?</div>
<div class="impN">Text 37: You are the spiritual master of great saints and devotees. I am therefore begging you to show the way of perfection for all persons, and especially for one who is about to die.</div>
<div class="impN">Text 38: Please let me know what a man should hear, chant, remember and worship, and also what he should not do. Please explain all this to me.</div>
<div class="impN">Text 39: O powerful brāhmaṇa, it is said that you hardly stay in the houses of men long enough to milk a cow.</div>
<div class="impN">Text 40: Śrī Sūta Gosvāmī said: The King thus spoke and questioned the sage, using sweet language. Then the great and powerful personality, the son of Vyāsadeva, who knew the principles of religion, began his reply.</div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
</body>

</html>