<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gyaan</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="home.css">
</head>

<body>
    <div>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Gyaan</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Favourites</a>
                        </li>


                    </ul>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </div>
    <div id="main">
        <div class="impN">Text 1: Maitreya continued: The proud and falsely glorious Daitya paid little heed to the words of Varuṇa. O dear Vidura, he learned from Nārada the whereabouts of the Supreme Personality of Godhead and hurriedly betook himself to the depths of the ocean.</div>
        <div class="impN">Text 2: He saw there the all-powerful Personality of Godhead in His boar incarnation, bearing the earth upward on the ends of His tusks and robbing him of his splendor with His reddish eyes. The demon laughed: Oh, an amphibious beast!</div>
        <div class="impN">Text 3: The demon addressed the Lord: O best of the demigods, dressed in the form of a boar, just hear me. This earth is entrusted to us, the inhabitants of the lower regions, and You cannot take it from my presence and not be hurt by me.</div>
        <div class="impN">Text 4: You rascal, You have been nourished by our enemies to kill us, and You have killed some demons by remaining invisible. O fool, Your power is only mystic, so today I shall enliven my kinsmen by killing You.</div>
        <div class="impN">Text 5: The demon continued: When You fall dead with Your skull smashed by the mace hurled by my arms, the demigods and sages who offer You oblations and sacrifice in devotional service will also automatically cease to exist, like trees without roots.</div>
        <div class="impN">Text 6: Although the Lord was pained by the shaftlike abusive words of the demon, He bore the pain. But seeing that the earth on the ends of His tusks was frightened, He rose out of the water just as an elephant emerges with its female companion when assailed by an alligator.</div>
        <div class="impN">Text 7: The demon, who had golden hair on his head and fearful tusks, gave chase to the Lord while He was rising from the water, even as an alligator would chase an elephant. Roaring like thunder, he said: Are You not ashamed of running away before a challenging adversary? There is nothing reproachable for shameless creatures!</div>
        <div class="impN">Text 8: The Lord placed the earth within His sight on the surface of the water and transferred to her His own energy in the form of the ability to float on the water. While the enemy stood looking on, Brahmā, the creator of the universe, extolled the Lord, and the other demigods rained flowers on Him.</div>
        <div class="impN">Text 9: The demon, who had a wealth of ornaments, bangles and beautiful golden armor on his body, chased the Lord from behind with a great mace. The Lord tolerated his piercing ill words, but in order to reply to him, He expressed His terrible anger.</div>
        <div class="impN">Text 10: The Personality of Godhead said: Indeed, We are creatures of the jungle, and We are searching after hunting dogs like you. One who is freed from the entanglement of death has no fear from the loose talk in which you are indulging, for you are bound up by the laws of death.</div>
        <div class="impN">Text 11: Certainly We have stolen the charge of the inhabitants of Rasātala and have lost all shame. Although bitten by your powerful mace, I shall stay here in the water for some time because, having created enmity with a powerful enemy, I now have no place to go.</div>
        <div class="impQ">Text 12: You are supposed to be the commander of many foot soldiers, and now you may take prompt steps to overthrow Us. Give up all your foolish talk and wipe out the cares of your kith and kin by slaying Us. One may be proud, yet he does not deserve a seat in an assembly if he fails to fulfill his promised word.</div>
        <div class="impQ">Text 13: Śrī Maitreya said: The demon, being thus challenged by the Personality of Godhead, became angry and agitated, and he trembled in anger like a challenged cobra.</div>
        <div class="impN">Text 14: Hissing indignantly, all his senses shaken by wrath, the demon quickly sprang upon the Lord and dealt Him a blow with his powerful mace.</div>
        <div class="impN">Text 15: The Lord, however, by moving slightly aside, dodged the violent mace-blow aimed at His breast by the enemy, just as an accomplished yogī would elude death.</div>
        <div class="impN">Text 16: The Personality of Godhead now exhibited His anger and rushed to meet the demon, who bit his lip in rage, took up his mace again and began to repeatedly brandish it about.</div>
        <div class="impN">Text 17: Then with His mace the Lord struck the enemy on the right of his brow, but since the demon was expert in fighting, O gentle Vidura, he protected himself by a maneuver of his own mace.</div>
        <div class="impQ">Text 18: In this way, the demon Haryakṣa and the Lord, the Personality of Godhead, struck each other with their huge maces, each enraged and seeking his own victory.</div>
 </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
</body>

</html>