body {
    padding: 0;
    margin: 0;
    background-color:#610C9F;
    
}
#main{
    background-color: #940B92;
    display: flex;
    height: 40vh;
    width: 80vh;
   
}
#loginbox{
    display: flex;
    justify-content: center;
    flex-direction: column;
}