#main{
    background-color: #f2d3a3;
    width: 100%;
    display: flex;
    flex-direction: column;    
} 
.impQ{
    color: #000;
    font-size: large;
    justify-content: center;
}
.impN{
    color: #000;
    font-size: large;
    justify-content: center;
}
#img{
    height: 5vh;
    width: 5vh;
    
}
#favimg{
    height: 6vh;
    width: 6vh;
}