body
{
    margin: 0;
    padding: 0;
    background-color: rgba(186, 186, 186, 0.756);
}
#signupbox
{
    color: white;
    font-size: 4vh;
    display: flex;
    height: 70vh;
    width: 90vh;
    background-color: rgba(168, 168, 168, 0.742);
    border-radius: 2vh;
    padding: 2vh;
    flex-direction: column;
    justify-content: center;
}
#input
{
    margin: 2vh;
    width: 37vh;
    height: 5vh;
    border-radius: 2vh;
    border: none;
    align-items: center;
}
#main
{
    margin: 10vh;
    display: flex;
    height: 70vh;
    width: 90vh;
    border-radius: 2vh;
    background-color: rgba(168, 168, 168, 0.742);
}
#btn
{
   background-color:green;
   width: 50vh;
   border-radius: 3vh;
   margin-left: 18vh;
   color: aliceblue;
}
#backimg
{
    height: 70vh;
    width: 50vh;
}
#supermain
{
    display: flex;
    justify-content: center;
    height: 90%;
}