body {
    padding: 0;
    margin: 0;
    background-color:rgba(186, 186, 186, 0.756);
    
}
#main{
    background-color: rgba(168, 168, 168, 0.742);
    display: flex;
    margin: 10vh;
    height: 70vh;
    width: 90vh;
    border-radius: 2vh;
    background-color: rgba(168, 168, 168, 0.742);
   
}
#loginbox{
    color: white;
    font-size: 4vh;
    display: flex;
    height: 70vh;
    width: 90vh;
    background-color: rgba(168, 168, 168, 0.742);
    border-radius: 2vh;
    padding: 2vh;
    flex-direction: column;
}
#supermain{
    display: flex;
    justify-content: center;
}
#btn{
    background-color:green;
   width: 50vh;
   border-radius: 3vh;
   margin-left: 18vh;
   margin-top: 5vh;
}
#input
{
    margin-left: 6vh;
    margin: 3vh;
    width: 70vh;
    height: 7vh;
    border: none;
}